@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Rubik", ui-sans-serif, system-ui, sans-serif;
  --color-brand-pink: #bb6776;
  --color-brand-teal: #87CEFA;
}

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
  }
}

